@media only screen and (min-width: 37.5em) and (max-width: 63.9em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */

    nav button {
      display: hidden;
    }

    section.forecast {
      display: contents;
      display: block;
      clear: both;
      padding-top: 5px;
  }

  * {
  }

  header, nav, main, footer {
    max-width: 1023px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    display: block;
  }

  header {
    height: 120px;
    background-image: url('../images/rsz_blue-header-background.png');
  }
  header h1 {
    text-align: center;
    width: 100%;
    font-size: 2.2rem;
    top: 15px;
    left: 0px;
  }

  header .subheading, header h1, header img {
    position: static;
  }

  header img {
    float: left;
  }

  .hamburger {
    display: none;
    top: 60px;
    padding-right: 20px;
    float: right;
  }

  header .subheading {
    top: 55px;
    left: 0px;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
  }

  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.250rem;
  }
  nav {
    background-color: lightblue;
    width: 100%;
  }
  nav button {}
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: inline-block;
    text-align: center;
    padding: 10px;
  }
  nav ul li a {
    display: inline;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }
  nav ul li.active a {
    color: darkcyan;
  }
  nav ul li a:hover {
    color: gainsboro;
  }

  main {
  }
.full-width {
  
  width: 50%;
  float:left;
}
  main h2 {
  }
  main figure {
    float: left;
    margin: 0 0 .2rem 2%; width:48%;
    display: inline-block;
  }
  main figure img {
    display: table-cell;
  }

  .contact {
  }
  .footer-bar {
    padding: 10px;
    background-color: lightblue;
  }
  footer {
    clear: both;
    font-size: .8rem;
  }


  /* my css */
  .highlow p {
    display: block;
    padding: 0 10px;
    float: right;
  }
  article {
    text-align: left;
    clear: right;
  }
  article p {
    width: 48%;
    float: left;
  }
  article img {
    display: inline-block;
    width: 48%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    float: right;
  }
  table {
    margin: auto;
  }
  article h3 {
    text-align: center;
  }
  .images {
    width: 90%;
  }
  .weather-type {
    font-size: 2.0rem;
    display: table-cell;
    vertical-align: middle;
    line-height: 32px;
    padding: 10px;
    float: right;
  }
  .current {
    margin: auto;
    display: table;
  }
  .img-article {
    margin: auto;
  }
  .weather-summary {
    width: 48%;
    display: inline;
    float: right;
  }
  .weather-summary h3 {
    margin: 0;
  }

  .current picture {
    float: left;
  }

  .conditions {
    display: block;
    clear: both;
  }
  /*closing bracket */

  tr img {
    width: 20px;
  }
  td {
    vertical-align: bottom;
    padding: 0 10px;
    text-align: left;
  }
  .gray-fill {
    background-color: lightblue;
  }
    .images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
}
