table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 1rem;
    text-align: center;
    box-shadow: 5px 5px 10px gray;
}

thead tr th {
    background-color: #7fb9c2;
    color: black;
    font-size: 2rem;
}


.outlier {
    background-color: #628ca6;
    color: white;
    font-size: 1.1rem;
    text-align: center;
}

tr:first-child {
    background-color: #628ca6;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

#italics {
    font-style: italic;
}

tr:last-child {
    background-color: #7fb9c2;
    font-size: .6rem;
    color: black;
    text-align: center;
}

tr:nth-child(3) {
    background-color: #e7ffed;
    text-align: center;
}

tr:nth-child(5) {
    background-color: #e7ffed;
    text-align: center;
}

tr:nth-child(7) {
    background-color: #e7ffed;
    font-size: 1rem;
    text-align: center;
}

tr:nth-child(2) {
    background-color: #e7f0ed;
    text-align: center;
}

tr:nth-child(4) {
    background-color: #e7f0ed;
    text-align: center;
}

tr:nth-child(6) {
    background-color: #e7f0ed;
    text-align: center;
}

tbody > tr:nth-child(6) > td:nth-child(1) {
    font-style: italic;
}


td, th {
    font-family: 'ubuntu', sans-serif;
    border: 1px solid rgb(190, 190, 190);
    padding: 8px 9px;
    text-align: center;
    
}
